*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.nav{
    background:#1E2640;
    max-width: 1442px;
    height: 80px;
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 10px;
    color: white;
}
.nav a{
    color: white;
}
.head{
    background: url("..//Images/Rectangle\ 24.png");
    background-size: cover;
    background-position: center;
    max-width: 1444px;
    height: 222px;
    margin-left: -13px;
    margin-right: -12px;
    text-align: center;
    padding-top: 60px;
    color: white;
}

.c3rd{
    margin-top: 5em;
    margin-left: 5px;
    margin-right: 5px;
}
.btnn{
    margin-left: 35%;
    margin-top: 10px;
   
}
.image-head:hover{
    margin: 30px;
    cursor: pointer;
    border: 1px solid gray;
}





.jp{
    background: url("..//images/Rectangle\ 18-1.png");
    background-size: cover;
    background-position: center;
    width: 500px;
    height:380px;
    border-radius: 6px;
    margin-top: 45px;
}
.fes{
    background: white;
    margin-top:17em;
    margin-left: 5em;
    padding-left: 50px;
    padding-top: 18px;
    height: 70px;
    box-shadow: 1px 2px 2px 2px black;
    position: relative;
    right: 110px;
}
.jj{
    background: url("..//Images/Rectangle\ 13@2x.png");
    background-size: cover;
    background-position: center;
    width: 500px;
    height:380px;
    border-radius: 6px;
    margin-top: 45px;
}
.fas{
    background: white;
    margin-top:17em;
    margin-left: 5em;
    padding-left: 50px;
    padding-top: 18px;
    height: 70px;
    box-shadow: 1px 2px 2px 2px black;
    position: relative;
    left: 33px;
}
.rt{
    margin-left: 8em;
}
.gp{
    margin-left: 2em;
}




.header{
    background: url("..//Images/Rectangle\ 24.png");
    background-size: cover;
    background-position: center;
    height: 400px;
}
.header h1{
    padding-top: 100px;
    padding-left: 30px;
    line-height: 70px;
    font-size: 48px;
    font-weight: 700;
}